body {
    margin: 0px;
    padding: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    min-height:100%;
    width: 100%;
}

.title {
    margin: 0px;
    padding: 10px;

}

.container {
    min-height:100%;
    width: 100%;

}

.halfwidth {
    position: relative;
    margin-top: 3em;
    margin-bottom: 2em;
}

.footer {
    height: 1em;
    background: #03498f;
    margin: 0;
    padding: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    border-top: 0.2em solid #f7ad36;

}
.footer2 {
    position: absolute;
    bottom: 0;
    background:  #03498f;
    width: 100%;
}
.header {
    //position: fixed;

    height: 4em;
    background: #01498f;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 0.2em solid #f7ad36;
}

.title {
    color: #f7ad36;
    text-align: center;
}

p.footertxt {
    color: #f7ad36;
    font-size: 10px;
    text-align: right;
    padding-right: 10px;
}

p {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

table th.shrink {
    white-space:nowrap;
    vertical-align: bottom;
}
table th.expand {
    width: 99%;
    vertical-align: bottom;
    padding-right: 20px;
}

.date {
    white-space:nowrap;
    vertical-align: bottom;
    margin-right: 0;

}
#newDropdownMenu {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #f7ad36;
    width: 100px;
    text-indent: 0.01px;
    text-overflow: "";
    color: #000;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
.dropdown2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #f7ad36;
    width: 120px;
    text-indent: 0.01px;
    text-overflow: "";
    color: #000;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
.dropdown3 {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #f5f5f5;
    text-indent: 0.01px;
    text-overflow: "";
    color: #000;
    padding: 5px;
    text-emphasis:  #d3ffab;
    text-align: center;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
